In [3]:
# import the dependencies
import pandas as pd
import gmaps
import requests
from config import g_key

In [4]:
# Store the csv you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-03-21 23:34:00,-23.1203,-134.9692,80.64,68,28,6.82
1,1,Beringovskiy,RU,2021-03-21 23:34:00,63.0500,179.3167,2.61,70,71,7.56
2,2,Yar-Sale,RU,2021-03-21 23:34:00,66.8333,70.8333,-4.13,97,100,4.38
3,3,Kudahuvadhoo,MV,2021-03-21 23:34:01,2.6708,72.8944,82.17,64,60,3.94
4,4,Pokaran,IN,2021-03-21 23:34:01,26.9167,71.9167,72.28,40,84,1.83

In [5]:
# configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [6]:
## General Form for creating a heatmap
# 1. Assign the locations to an array of latitute of longitude pairs
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the groups gmaps.figure() arrtibute
#fig = gmaps.figure()
#4. Assign the headmap_layer variable to the heatmap_layer attribute
#heatmap_layer = gmaps.headmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data
#fig

In [7]:
# Get the maximum temperature
# Removes negative temperatures so .heatmap_layer will run
# This works, but let's use a list comprehension instead.
#max_temp = city_data_df['Max Temp']
#temps = []
#for temp in max_temp:
    #temps.append(max(temp,0))
#print(len(temps))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude 
locations = city_data_df[['Lat', 'Lng']]
# Get the maximum temperature
max_temp = city_data_df['Max Temp']
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmaps variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                max_intensity=300, point_radius=4)
# Add the headmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Vacation requests
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-03-21 23:34:00,-23.1203,-134.9692,80.64,68,28,6.82
3,3,Kudahuvadhoo,MV,2021-03-21 23:34:01,2.6708,72.8944,82.17,64,60,3.94
5,5,Hilo,US,2021-03-21 23:34:01,19.7297,-155.0900,78.80,57,90,13.80
13,13,Cururupu,BR,2021-03-21 23:32:10,-1.8283,-44.8683,75.83,90,80,3.85
17,17,Boyolangu,ID,2021-03-21 23:34:04,-8.1181,111.8935,78.42,85,96,2.08
23,23,Saint-Georges,GD,2021-03-21 23:34:06,12.0564,-61.7485,78.80,78,20,11.50
25,25,Souillac,MU,2021-03-21 23:34:06,-20.5167,57.5167,78.80,89,75,11.50
30,30,Honiara,SB,2021-03-21 23:34:08,-9.4333,159.9500,85.44,64,99,4.90
33,33,Cabedelo,BR,2021-03-21 23:34:08,-6.9811,-34.8339,77.00,94,0,5.75
34,34,Goundam,ML,2021-03-21 23:34:08,16.4145,-3.6708,82.83,10,8,13.31

In [14]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0         Rikitea      PF     80.64 -23.1203 -134.9692
3    Kudahuvadhoo      MV     82.17   2.6708   72.8944
5            Hilo      US     78.80  19.7297 -155.0900
13       Cururupu      BR     75.83  -1.8283  -44.8683
17      Boyolangu      ID     78.42  -8.1181  111.8935
23  Saint-Georges      GD     78.80  12.0564  -61.7485
25       Souillac      MU     78.80 -20.5167   57.5167
30        Honiara      SB     85.44  -9.4333  159.9500
33       Cabedelo      BR     77.00  -6.9811  -34.8339
34        Goundam      ML     82.83  16.4145   -3.6708

In [16]:
# Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}
# Iterate through the dataFrame
for index, row in hotel_df.iterrows():
    # Get teh lat and lng
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the lat and lng to location key for the params dict
    params['location'] = f'{lat},{lng}'
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the json data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results adn store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,80.64,-23.1203,-134.9692,Pension Maro'i
3,Kudahuvadhoo,MV,82.17,2.6708,72.8944,Niyama Private Islands Maldives
5,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Cururupu,BR,75.83,-1.8283,-44.8683,Pousada Través'cia
17,Boyolangu,ID,78.42,-8.1181,111.8935,Yos ega cv
...,...,...,...,...,...,...
546,Banjar,ID,82.40,-8.1900,114.9675,The Hamsa Resort
555,Chake Chake,TZ,78.06,-5.2459,39.7666,Hotel Archipelago
556,Karratha,AU,81.91,-20.7377,116.8463,ibis Styles Karratha
560,Galle,LK,77.02,6.0367,80.2170,Amangalla
561,Kalmunai,LK,77.76,7.4167,81.8167,VS Villa

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))