## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather
0,0,Atuona,PF,-9.8000,-139.0333,80.49,71,100,19.24,overcast clouds
1,1,Barrow,US,71.2906,-156.7887,-11.20,70,1,11.50,clear sky
2,2,Cape Town,ZA,-33.9258,18.4232,73.99,73,0,10.36,clear sky
3,3,Albany,US,42.6001,-73.9662,53.01,74,100,8.03,light rain
4,4,Alta Floresta,BR,-9.8756,-56.0861,82.40,78,40,9.22,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & 
                                      (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather
0,0,Atuona,PF,-9.8000,-139.0333,80.49,71,100,19.24,overcast clouds
4,4,Alta Floresta,BR,-9.8756,-56.0861,82.40,78,40,9.22,scattered clouds
9,9,Saint-Philippe,RE,-21.3585,55.7679,78.80,83,20,4.61,few clouds
27,27,Avarua,CK,-21.2078,-159.7750,82.40,83,75,12.66,broken clouds
28,28,Lorengau,PG,-2.0226,147.2712,81.07,78,100,6.85,moderate rain
31,31,Kerema,PG,-7.9631,145.7785,77.76,85,100,4.38,overcast clouds
33,33,Malbug,PH,9.7327,123.3402,80.60,83,75,12.12,broken clouds
36,36,Hojai,IN,26.0000,92.8667,77.05,26,13,5.57,few clouds
37,37,Cidreira,BR,-30.1811,-50.2056,76.14,71,50,10.02,scattered clouds
40,40,Georgetown,MY,5.4112,100.3354,80.01,100,20,3.44,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       232
City          232
Country       231
Lat           232
Lng           232
Max Temp      232
Humidity      232
Cloudiness    232
Wind Speed    232
Weather       232
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather
0,0,Atuona,PF,-9.8000,-139.0333,80.49,71,100,19.24,overcast clouds
4,4,Alta Floresta,BR,-9.8756,-56.0861,82.40,78,40,9.22,scattered clouds
9,9,Saint-Philippe,RE,-21.3585,55.7679,78.80,83,20,4.61,few clouds
27,27,Avarua,CK,-21.2078,-159.7750,82.40,83,75,12.66,broken clouds
28,28,Lorengau,PG,-2.0226,147.2712,81.07,78,100,6.85,moderate rain
...,...,...,...,...,...,...,...,...,...,...
660,660,Mayumba,GA,-3.4320,10.6554,77.65,81,99,11.92,overcast clouds
664,664,Limbang,MY,4.7500,115.0000,80.60,94,75,1.14,broken clouds
665,665,Tomatlan,MX,19.9333,-105.2500,87.94,18,56,8.66,broken clouds
666,666,Vao,NC,-22.6667,167.4833,75.87,66,63,13.60,broken clouds
667,667,Gizo,SB,-8.1030,156.8419,81.55,76,98,4.29,moderate rain

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,Atuona,PF,80.49,overcast clouds,-9.8000,-139.0333,
4,Alta Floresta,BR,82.40,scattered clouds,-9.8756,-56.0861,
9,Saint-Philippe,RE,78.80,few clouds,-21.3585,55.7679,
27,Avarua,CK,82.40,broken clouds,-21.2078,-159.7750,
28,Lorengau,PG,81.07,moderate rain,-2.0226,147.2712,
31,Kerema,PG,77.76,overcast clouds,-7.9631,145.7785,
33,Malbug,PH,80.60,broken clouds,9.7327,123.3402,
36,Hojai,IN,77.05,few clouds,26.0000,92.8667,
37,Cidreira,BR,76.14,scattered clouds,-30.1811,-50.2056,
40,Georgetown,MY,80.01,few clouds,5.4112,100.3354,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the lat and lng to location key for the params dict
    params['location'] = f'{lat},{lng}'
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,Atuona,PF,80.49,overcast clouds,-9.8000,-139.0333,Villa Enata
4,Alta Floresta,BR,82.40,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
9,Saint-Philippe,RE,78.80,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
27,Avarua,CK,82.40,broken clouds,-21.2078,-159.7750,Paradise Inn
28,Lorengau,PG,81.07,moderate rain,-2.0226,147.2712,Lorengau Harbourside Hotel
...,...,...,...,...,...,...,...
660,Mayumba,GA,77.65,overcast clouds,-3.4320,10.6554,LIKWALE LODGE
664,Limbang,MY,80.60,broken clouds,4.7500,115.0000,Purnama Hotel
665,Tomatlan,MX,87.94,broken clouds,19.9333,-105.2500,Norma franco
666,Vao,NC,75.87,broken clouds,-22.6667,167.4833,Hotel Kou-Bugny
667,Gizo,SB,81.55,moderate rain,-8.1030,156.8419,Imagination Island

In [29]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [32]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [33]:
locations

         Lat       Lng
0    -9.8000 -139.0333
4    -9.8756  -56.0861
9   -21.3585   55.7679
27  -21.2078 -159.7750
28   -2.0226  147.2712
..       ...       ...
660  -3.4320   10.6554
664   4.7500  115.0000
665  19.9333 -105.2500
666 -22.6667  167.4833
667  -8.1030  156.8419

[231 rows x 2 columns]

In [34]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))